body {
  background: white;
}

header {
  background: rgb(62, 126, 255);
  overflow: hidden;
  padding: 2% 20px;

  text-transform: capitalize;
  color: white;
  font-family: Verdana, sans-serif;

}


/* Profile container */
.profile {
  margin: 10px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 10px 0 10px 0;
  background: #fff;
}

.profile-userpic img {
  float: right;
  border: 3px solid rgb(135, 219, 252);
  position: absolute;
  top: 2%;
  left: 90%;

  width: 80px;
  height: 80px;
  border-radius: 50px !important;

}


.button {
  position: absolute;
  top: 2%;
  left: 16px;
}

.userid {
  position: absolute;
  top: 4%;
  right: 45%;
}

.down {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 300px;
}